<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Riddles" connectionString="Data Source=Riddles.mssql.somee.com;Initial Catalog=Riddles;Persist Security Info=True;Connect Timeout=60;ConnectRetryCount=3;User ID=Fermanent_SQLLogin_1;Password=f3ztqpafyt;"/>
    <add name="TestDB" connectionString="Server=MAXFILIPOVICHPC;Database=Riddles;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>